<article class="list__item post">
	{{ partial "post_thumbnail.html" (dict "class" "list" "page" .) }}
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="{{ .RelPermalink }}" rel="bookmark">
			{{ .Title }}
			</a>
		</h2>
		{{- with .Params.lead }}
		<p class="list__lead post__lead">{{ . }}</p>
		{{- end }}
		{{ with partial "post_meta.html" . -}}
		<div class="list__meta meta">{{ . }}</div>
		{{- end }}
	</header>
	<div class="content list__excerpt post__content clearfix">
		{{ .Summary }}
	</div>

	{{ $termName := .Data.Singular }}
	{{ if and $.Site.Taxonomies.categories (eq $termName "category") }}
		{{ $term := .Data.Term }}
		{{ $pages := .Data.Pages }}
		{{ range first 10 $pages }}
			<div class="post-archive">
				<ul class="listing">
					<li>
						<date class="meta-date">{{ .Date.Format "2006-01-02" }}</date>
						<a href="{{ .RelPermalink }}" class="archive-title">
							{{ .Title }}
						</a>
					</li>
				</ul>
			</div>
		{{ end }}
		{{ if gt (len $pages) 10 }}
			<div class="more-post">
{{/*				<a href="{{ .Permalink }}" class="more-post-link">{{ i18n "morePost" }}</a>*/}}
				<a class="list__footer-postmore " href="{{ .RelPermalink }}">{{ T "post_more" }}</a>
			</div>
		{{ end }}
	{{ end }}

	{{- if .Site.Params.readmore }}
	{{- if .Truncated }}
	<div class="list__footer clearfix">
		<a class="list__footer-readmore btn" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
	</div>
	{{- end }}
	{{- end }}
</article>