<div class="clearfix">
	<h3>看在D瓜哥码字的辛苦上，请友情支持一下，D瓜哥感激不尽，😜</h3>
	<table>
		<tr>
			<td><img alt="微信打赏码" src="/images/wxpay.jpg"/></td>
			<td><img alt="支付宝打赏码" src="/images/alipay.png"/></td>
		</tr>
	</table>
</div>
<br/>
<div class="clearfix">
	<h3>欢迎关注D瓜哥的微信公众号，在公众号可以获取我的微信二维码：</h3>
	<img alt="微信公众号" src="/images/wx-jikerizhi.jpg"/>
</div>
<div class="admonitionblock tip">
	<table>
		<tbody>
			<tr>
				<td class="icon"> <i class="fa icon-tip" title="Tip"></i> </td>
				<td class="content"> <strong>公众号的微信号是: <code>jikerizhi</code></strong>。<em>因为众所周知的原因，有时图片加载不出来。如果图片加载不出来可以直接通过搜索微信号来查找D瓜哥的公众号。</em> </td>
			</tr>
		</tbody>
	</table>
</div>